absl-py
anyio 
appdirs
applaunchservices
appnope
appscript 
argh
argon2-cffi 
arrow
asn1crypto 
astroid
astropy 
astunparse
async-generator 
attrs 
autopep8
Babel
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref
beautifulsoup4 
binaryornot
bitarray
bkcharts
black
bleach
bokeh
boto
Bottleneck
brotlipy
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
cloudpickle
clyent
colorama
contextlib2
cookiecutter
cryptography
csvs-to-sqlite
cycler
Cython
cytoolz
daal4py
dask
dateparser
debugpy
decorator 
defusedxml
diff-match-patch
distributed
docutils
entrypoints
et-xmlfile
fastcache
filelock 
flake8
Flask
flatbuffers
fonttools
fsspec
future
gast
gcc7
geographiclib
geopy
gevent
glob2
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
h5py
HeapDict 
html5lib
idna
imagecodecs
imageio
imagesize
inflection
iniconfig 
intervaltree 
ipykernel
ipython
ipython-genutils
ipywidgets
isort 
itsdangerous
jdcal
jedi
Jinja2 
jinja2-time
joblib
json5
jsonschema
jupyter
jupyter-client 
jupyter-console 
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
Keras-Preprocessing
keyring
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang
llvmlite
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune 
mkl-fft
mkl-random 
mkl-service
mock 
more-itertools
mpmath
msgpack
multipledispatch
munkres
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc 
olefile
openpyxl
opt-einsum
packaging
pandas
pandoc
pandocfilters
parso
partd
path
pathlib2
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pkginfo
platformdirs
pluggy
plumbum
ply
poyo
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
py-lru-cache
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pycurl
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pyls-spyder
pyodbc==4.0.32
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
regex
requests
requests-oauthlib
rope
rsa
Rtree
scikit-image
scikit-learn
scikit-learn-intelex
scipy
seaborn
Send2Trash
simplegeneric
singledispatch
sip
six
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables
TBB
tblib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath 
text-unidecode 
textdistance
tf-estimator-nightly
threadpoolctl
three-merge
tifffile
tinycss
toml
toolz
tornado
tqdm
traitlets
typed-ast 
typing-extensions
tzdata
tzlocal
ujson 
unicodecsv
Unidecode
uritools
urlextract
urllib3
voila
watchdog 
wcwidth 
webencodings
websockets
Werkzeug 
wget
whichcraft
widgetsnbextension
wrapt
wurlitzer
xgboost
xlrd 
XlsxWriter 
xlwings
xlwt
xmltodict 
yapf
zict
zipp
zope.event
zope.interface