pandas
numpy 
json5
jsonschema
urllib.request
datetime
certifi
seaborn
matplotlib.pyplot
plotly
jupyter
jupyter-client 
jupyter-console 
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets